*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

body {
    background-image: url('../images/quizimage.jpg');
    background-size: cover; /* Adjust this property as needed */
    background-repeat: no-repeat;
    background-attachment: fixed; 
    height: 1000px;
  }

nav{
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:teal;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

nav > div > button{
    color: rgb(240, 92, 92);
    border: none;
    background-color: white;
    padding: 8px 10px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
    text-align: center;
}

.createQuiz{
    display: flex;
    justify-content: end;
    padding: 0px 35px;
    margin-top: 100px;
}

#createQuiz{
    background-color: rgb(44, 112, 221);
    border: 1px solid blue;
    width: 180px;
    color: white;
    padding: 8px 10px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
    text-align: center;
}

nav  > div > button:hover {
    border: 1px solid rgb(255, 42, 0);
}
#createQuiz:hover{
    color: blue;
    background-color: white;
    border: 1px solid blue;
}

#createQuiz{
    background-color: blue;
    color: white;
}


#mainCont{
    padding: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.qcard{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding:40px 25px 30px 25px;
    text-align: center;
    background-color: white;
}
.nbold{
    font-size: larger;
    margin-top: 35px;
    margin-bottom: 50px;
}

.bold{
    font-size: large;
    font-weight:600;
    margin: 5px;
}
.qcard> div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0 15px;
}

.qcard > div > button{
    margin-top: 50px;
    background-color: rgb(44, 112, 221);
    color: white;
    border: none;
    padding: 8px 10px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: medium;
    text-align: center;
}

.qcard h1{
    margin-top: 2px;
}

.correctOpt{
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap :4px 20px
}

.CorrectOptions{
    display: flex;
}
.CorrectOptions > div{
    display: flex;
    font-size: large;
}
.CorrectOptions > div > input {
    width: 17px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 5px;
}
.CorrectOptions > div > p{
    margin-left: 15px;
    margin-top: 5px;
}
.questions{
    margin-top: 20px;
    text-align: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1,1fr);
}
.questions > div{
    display: flex;
    flex-direction: row;
    /* border: 1px solid firebrick; */
}
.questions > div > p{
    margin-right: 20px;
    align-items: center;
}

#quesCard{
    padding:20px 30px;
    border-top: 1px solid rgb(189, 186, 186);
    width: 600px;
    margin: auto;
    text-align: center;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.questions{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
input{
    height: 27px;
    margin: auto;
}

.mainquestion{
    display: grid;
    align-items: center;
    grid-template-columns: 15% 80%;
    margin-top: 20px;
}
.mainquestion > input{
    height: 30px;
    width : 100%
}
.optionInfo{
    margin-left: 10px;
    margin-bottom: 0;
    font-size: larger;
    text-align: left;
}

.btns-add-submit > button{
    margin-top: 20px;
    color: white;
    border: none;
    padding: 8px 10px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    text-align: center;
}

.btns-add-submit{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px 40px;
    align-items: center;
}
.btns-add-submit > button:nth-child(2){
    background-color: rgb(42, 125, 97);
}

.btns-add-submit > button:nth-child(2):hover{
    color: rgb(10, 73, 52);
    border:1px solid rgb(42, 125, 97);
    background-color: white;
}
.btns-add-submit > button:nth-child(1){
    border:1px solid rgb(75, 191, 220);
    background-color: rgb(8, 170, 184);
}
.btns-add-submit > button:nth-child(1):hover{
    border:1px solid rgb(75, 191, 220);
    color: rgb(8, 170, 184);
    background-color: white;

}

#mainForm{
    background-color: white;
    border: 1px solid beige;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 650px;
    border-radius: 10px;
    padding:30px 20px 6px 20px;
    margin: auto;
    margin-top : 8%
}

#mainForm > div:first-child{
    font-size: large;
    padding: 20px;
}
#mainForm > div:first-child > div{
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 0;
}

#mainForm > div:first-child > div >input{
   width: 100%;
   height: 35px;
}
#mainForm > div:first-child > div:nth-child(3){
    grid-template-columns: 34% 30% 30%;
    margin-top: 10px;
    grid-template-rows: 30px;
    align-items: center;
}

#CancelCreate{
    /* margin-top: 20px; */
    background-color: red;
    color: white;
    border: 1px solid red;
    padding: 6px 8px 8px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    text-align: center;
}

#CancelCreate:hover{
   color : red;
   background-color: rgb(251, 249, 249);
}

#popup {
    background: rgb(0,0,0,0.6);
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 99%;
}

#questiontitle{
    margin-left: 6px;
}


.saveBtn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 0px 40px;    
}

#savebtn{
    border-radius: 5px;
    width: 100%;
    padding: 6px 8px;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: x-large;
    justify-content: center;
    font-weight: 700;
    background-color: white;
    color: rgb(239, 35, 110);
    border:2px solid white;
}

#editPopup{
    background: rgb(0,0,0,0.6);
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 99%;
}

#savebtn:hover{
    color: #fff;
    border: 2px solid rgb(239, 35, 110);
    background-color: rgb(239, 35, 110);
}

@media screen and (max-width: 767px) {
    #mainCont{
        grid-template-columns: repeat(1,1fr);
    }

    #popup,
    #editPopup {
        width: 100%;
    }
  }

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Your tablet-specific CSS rules here */
    #mainCont{
        grid-template-columns: repeat(2,1fr);
    }
    
  }

  
  
  
