* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-image: url('../images/quizimage.jpg');
  background-size: cover; /* Adjust this property as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Optional: Make the div take up the full viewport height */
}

#heading{
  font-size: 60px;
  color: red;
  background-color: white;
}

form {
  display: grid;
  background-color: teal;
  width: 400px;
  padding: 25px;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
}

input[type="submit"] {
  background-color: rgb(36, 117, 193);
  color: white;
  border: none;
  cursor: pointer;
}

label {
  font-size: larger;
  font-weight: 500;
}

input {
  font-size: larger;
  height: 35px;
}

input:focus {
  border: none;
}

h1{
  margin: 5px auto;
}
#btns{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2px;
  margin-bottom: 0;
}

#btns > button{
  width: 100%;
  height: 30px;
  cursor: pointer;
  border: none;
  font-size: larger;
  font-weight: 600;
  border-bottom: 1px solid blue;
  background-color: white;
}

#btns>button:nth-child(2){
  color: white;
  background-color: blue;
}

#hh{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 0;
}

#hh> input,
#hh > p{
  margin: 0;
  margin-right: 10px;
}

#hh> input{
  cursor: pointer;
  width: 15px;
}

/* Media query for screens smaller than 576px (e.g., smartphones) */
@media (max-width: 575px) {
  #heading {
    font-size: 30px;
    
  }
}

/* Media query for screens between 576px and 992px (e.g., tablets) */
@media (min-width: 576px) and (max-width: 991px) {
  #heading {
    font-size: 40px;
    
  }
}

/* Media query for screens between 992px and 1200px (e.g., larger tablets and small laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
  #heading {
    font-size: 50px;
    
  }
}

/* Media query for screens larger than 1200px (e.g., desktops) */
@media (min-width: 1200px) {
  #heading {
    font-size: 60px;
    
  }
}